# Lab 1: Welcome to Python!

## Goals
Welcome to your first lab day! In these practical sessions, you will have the opportunity to experiment with Python and gain hands-on experience with the language.

The main goal of this lab is to ensure that your Python 3 installation went smoothly. If you encounter any issues, please don't hesitate to speak up. Tutors are available to help.

This lab also gives you the chance to write your first Python programs and experiment with both scripts and the interactive interpreter.

The problems in this lab are not intended to be algorithmically challenging. They are simply a way to get you started using Python 3. Even if the problems seem simple, work through them quickly and then you're free to go.

As always, have fun and enjoy the rest of the class period!

## Submission

Name your Jupyter notebook `g8_group{GROUP}_lab1_{YOUR_LASTNAME}_{YOUR_FIRSTNAME}.ipynb`. For instance, Group A Bora Thida's submission for this lab should be called `g8_groupA_lab1_bora_thida.ipynb` and submit in LMS on `Introduction to Python` folder.

## Let's get started!

### Loop

**Exercise 1:** Print First 10 natural numbers using while loop

**Expected output:**
````
0
1
2
3
4
5
6
7
8
9
10
````

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### String

**Exercise 2**: Given 2 strings, s1 and s2, concat 2 strings
Given:
````
s1 = "Hello"
s2 = "World"
````
**Expected Output:**
````
    Hello World

````

In [14]:
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)

Hello World

**Exercise 3**: Removal all the characters other than integers from string
Given:
````
I am 25 years and 10 months old
````
**Expected Output:**
````
2510
````
**Hint: 
- list comprehension,
- Join(),
- isdigit()

In [15]:
s1 = "I am 25 years and 10 months old"
s2 = s1.split()
result = ''.join([i for i in s2 if i.isdigit()])
print(result)  # Output: 25 10

2510

### Tuple

**Exercise 4**: Create a tuple with single item 50

In [16]:
my_tuple = (50,)
print(my_tuple)

(50,)

**Exercise 4**: Unpack the following tuple into 4 variables
````
aTuple = (10, 20, 30, 40)
````

**Expected output:**

````
aTuple = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40
````

In [17]:
aTuple = (10, 20, 30, 40)
a = aTuple[0]
b = aTuple[1]
c = aTuple[2]
d = aTuple[3]
print(a, b, c, d)

10 20 30 40

**Exercise 5**: Swap the following two tuples
````
tuple1 = (11, 22)
tuple2 = (99, 88)
````
**Expected output:**
````
tuple1 = (99, 88)
tuple2 = (11, 22)
````

In [18]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

### Set

**Exercise 6**: Add a list of elements to a given set
````
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
````
**Expected output:**

In set item order is not a concern
````
{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
````
**Hint: use update()

In [19]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

sampleSet.update(sampleList)

print(sampleSet)

{'Green', 'Yellow', 'Red', 'Orange', 'Black', 'Blue'}

**Exercise 7**: Returns a new set with all items from both sets by removing duplicates
````
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
````
**Expected output:**

````
{70, 40, 10, 50, 20, 60, 30}
````
Remember set is unordered so not necessary this will be the order of the item.

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.union(set2)
print(new_set)

{70, 40, 10, 50, 20, 60, 30}

### Dictionaries

**Exercise 8**: Below are the two lists convert it into the dictionary
````
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
````
**Expected output:**

````
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}````

In [21]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

sampleDict = dict(zip(keys, values))

print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Exercise 9**: Merge following two Python dictionaries into one
````
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
````
**Expected output:**

````
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
````

In [22]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Mixed parts

**Exercise 10:** Write a loop to find the factorial of any number
The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

**For example:** calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

**Expected output:**
````
120
````

In [23]:
n = input("Input a number: ")

def factorial(n):
    result = 1
    if n == 0:
        return 1
    else:
        while n >= 1:
            result = result * n
            n = n - 1
        return result
print(factorial(int(n)))

120

**Exercise 11:** Reverse a given integer number
Given:
````
76542
````

**Expected output:**
````
24567
````

In [24]:
n = 76542

riversed_n = int(str(n)[::-1])
print(riversed_n)

24567

**Exercise 12:** Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

Given:
````
number_of_terms = 5
````
So series will become 2 + 22 + 222 + 2222 + 22222

**Expected output:**
````
24690
````

In [25]:
number_of_terms = 5
result= 0

for i in range(1, number_of_terms + 1):
    n = int('2'*i)
    result += n
print(result)

24690

**Exercise 13:** Create a function that can accept two arguments name and age and print its value

In [26]:
def my_function(name,age):
    return [name, age]

print(my_function("John", 36))

['John', 36]

**Exercise 14:** Write a function func1() such that it can accept a variable length of  argument and print all arguments value
````
func1(20, 40, 60)
func1(80, 100)
````

**Expected Output:**

After func1(20, 40, 60):
````
20
40
60
````

After func1(80, 100):
````
80
100
````

In [27]:
def func1( n, *a):
    for i in a:
        print(i)

func1(20, 40, 60, 80, 100)

40
60
80
100

**Exercise 15:** Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

**Expected Output:**
````
showEmployee("Ben", 9000)
showEmployee("Ben")
````

Should Produce:
````
Employee Ben salary is: 9000
Employee Ben salary is: 9000
````

In [28]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("tk", 900000)

Employee tk salary is: 900000

**Exercise 16:** Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

Given:

````
number1 = 20
number2 = 30
````

Expected Output:

`````
The result is 600
````
Given:
````
number1 = 40
number2 = 30
````
Expected Output:
````
The result is 70
````

In [29]:
def calc(x,y):
    return x*y if x*y < 1000 else x+y
print(calc(40,30))

70

**Exercise 17**: Given a two list of equal size create a set such that it shows the element from both lists in the pair

**Expected Output:**
````
First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}
````
**Hint: use zip()

In [30]:
first_list =  [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result = set(zip(first_list, second_list))
print(result)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

**Exercise 18:** Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

Reference article for help:
- [Python range() function](https://pynative.com/python-range-function/)
- [Calculate sum and average in Python](https://pynative.com/python-program-to-calculate-sum-and-average-of-numbers/)

**Expected Output:**
````
Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
````

In [31]:
number = 10
for n in range(number):
    prev_n = n - 1 if n != 0 else 0
    print("Current Number "+str(n)+" Previous Number "+str(prev_n)+" Sum: "+str(n+prev_n))

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

**Exercise 19**: Delete set of keys from Python Dictionary
Given:
````
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
````
**Expected output:**

````
{'city': 'New york', 'age': 25}
````

In [32]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
for key in keysToRemove:
    sampleDict.pop(key)
print(sampleDict)

{'age': 25, 'city': 'New york'}

**Exercise 20:** Given a string, display only those characters which are present at an even index number.
For example str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Reference article for help: Python Input and Output

**Expected Output:**
````
Orginal String is  pynative
Printing only even index chars
p
n
t
v
````

In [33]:
string = 'pynative'
for s in string:
    print(s) if string.index(s) % 2 == 0 else None

# print(string[::2])

p
n
t
v

**Exercise 21:** Given a list of numbers, return True if first and last number of a list is same

**Expected Output:**
````
Given list is  [10, 20, 30, 40, 10]
result is True
Given list is  [10, 20, 30, 40, 50]
result is False
````

In [34]:
l1 = [10, 20, 30, 40, 50, 60, 10]
l2 = [10, 20, 30, 40, 50, 60]
print(l1[0]==l1[-1])
print(l2[0]==l2[-1])

True
False

**Exercise 22:** Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

**Expected Output:**
````
Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
10
20
55
````

In [35]:
given_list = [10, 20, 33, 46, 55]

for i in given_list:
    if i % 5 == 0:
        print(i)

10
20
55

**Exercise 23:** Return the total count of sub-string “Emma” appears in the given string

Given string is “Emma is good developer. Emma is a writer”

**Expected Output:**
````
Emma appeared 2 times
````

In [36]:
string = "Emma is good developer. Emma is a writer"
print(string.count("Emma"))

2

**Exercise 24:** Print the following pattern
````
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
````

In [37]:
for i in range(1, 6):
    print(i * str(i))

1
22
333
4444
55555

**Exercise 25:** Print downward Half-Pyramid Pattern with Star (asterisk)

````
* * * * *  
* * * *  
* * *  
* *  
*
````

In [38]:
i = 5
while i > 0:
    print(i * "* ")
    i -= 1

* * * * *
* * * *
* * *
* *
*

**Exercise 26:** Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

**Expected Output:**

Case 1:

base = 2
exponent = 5

2 raises to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 i.e. (5 *5 * 5 *5 = 625)

In [39]:
def exponent(base,exp):
    return base**exp 

print(exponent(5,4))

625

## Exercises for Extra Score!

**!Exercise extra 1:** Print multiplication table form 1 to 10

**Expected Output:**
````
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100 
````

In [40]:
def multi_table(n):
    for i in range(1, n+1):
        for j in range(1, 11):
            print(i*j, end=" ")
        print("\n")

multi_table(10)

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

**!Exercise extra 2:** Create an inner function to calculate the addition in the following way
- Create an outer function that will accept two parameters a and b
- Create an inner function inside an outer function that will calculate the addition of a and b
- At last, an outer function will add 5 into addition and return it

In [41]:
def outer(a,b):
    def inner(c,d):
        return c+d
    return inner(a,b) + 5
print(outer(2,3))

10

**!Exercise extra 3**: From given string replace each punctuation with #
Given:
````
str1 = '/*Jon is @developer & musician!!'
````
**Expected Output:**
````
##Jon is #developer # musician##
````

In [42]:
str1 = '/*Jon is @developer & musician!!'
punctuation_chars = ['@', '&', '!', '*', '/']
for char in punctuation_chars:
    str1 = str1.replace(char, '#')
str2 = str1
print(str2)

##Jon is #developer # musician##

**Exercise extra 4**: Given a Python dictionary, Change Brad’s salary to 8500
````
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
````
**Expected output:**
````
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}
````

In [43]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}